:root {
  font-family: 'Cascadia Code', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  background: #7d0ee4;
  background: linear-gradient(to right, #7d0ee4 0%, #fe53bb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: #ad7cf7;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1.6rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: min(90%, 250px);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  padding-left: 1rem;
  background: transparent;
}

input::-webkit-input-placeholder {
  display: none;
  font-size: 17px;
  color: #f2f2f290;
  font-family: 'Cascadia Code', sans-serif;
}

input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.btn span {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
  z-index: 5;
}

#container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: '';
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 4px;
  animation: loader_901 1s ease-in-out infinite;
}

.loader__circle:nth-of-type(1) {
  background-color: #007aff;
  animation-delay: 0;
}

.loader__circle:nth-of-type(2) {
  background-color: #ff2d55;
  animation-delay: 0.25s;
}

.loader__circle:nth-of-type(3) {
  background-color: #34c759;
  animation-delay: 0.5s;
}

.loader__circle:nth-of-type(4) {
  background-color: #ff9500;
  animation-delay: 0.75s;
}

@keyframes loader_901 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
